body {
    background-color: #fff;
    font-family: "Noto Sans Japanese";
  }
  
section {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.container{
    width:960px;
    margin:0 auto;
  }
  /*
  header{
    height:250px;
    background-image:url(../images/header_bg.png);
    background-size:cover;
  }
  */
  nav ul li{
    font-size:40px;
    text-align: center;
    line-height: 125px;
}
  nav ul{
    padding:5px 30px;
    background:rgb(170, 252, 252);
    /*親要素にdisplay:flex*/
    display: flex;
    /*並べる方向*/
    /* flex-direction: column; */
    /*配置*/
    justify-content:space-between;
  }
  /*
  nav ul a{
    display: block;
    padding:5px 10px;
    border-radius: 5px;
    background:rgb(114, 214, 240);
    color:white;
    text-decoration: none;
    margin:5px 10px;
    border:1px solid #333;
  }
  */
